.botao{
    width: 200px;
    border-radius: 16px;
    border: 1px solid white;
    padding: 1em;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    color: white;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao:hover{
    color: var(--green);
    border: 1px solid var(--green);
    transform: scale(1.1);
    background-image: linear-gradient(to bottom, var(--purple-1), var(--purple-2));
    background-attachment: fixed;

}

@media (max-width: 745px){

    .botao{
        width: 110px;
        font-size: 14px;
    }
}

