header{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
    max-width: 100wv;
}


nav {
    width: 100%;
    max-width: 1200px; 
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.header_menu{
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding: 3rem 1rem;
    width: 100%;
}


.header_menu a{
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

header a:hover{
    color: var(--green);
}



@media (max-width: 700px){
  
  .header_menu{
    gap: 4rem;
}

.header_menu a{
    font-size: 1.2rem;

}
}
@media (max-width: 450px){
  
  .header_menu{
    gap: 3rem;
}

.header_menu a{
    font-size: 0.7rem;

}
}

