.container_project {
  padding: 2rem 5rem 5rem 8rem;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_voltar{
  display: flex;
  width: 100%;
  justify-content: start;
}

.project_voltar {
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 3rem;
  font-weight: 500;
  transition: transform 0.3s ease;
}
.project_voltar:hover {
  color: var(--green);
  font-weight: 600;
  font-size: 20px;
  background: transparent;
}

.project_container_conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo_project {
  color: var(--green);
  font-size: 55px;
  margin-bottom: 5rem;
}

.project_imagem_link_container {
  margin-bottom: 5rem;
  transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  background: transparent;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content; 
  transform-origin: center;
  
}

.project_imagem_link_container p {
  text-decoration: none;
  font-weight: 700;
  background: transparent;

}

.project_imagem {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  border: 3px solid var(--purple-1);
}

.project_imagem_link_container > p {
  color: white;
}

.project_imagem_link_container:hover {
  transform: scale(1.1);

}
.project_imagem_link_container:hover > p {
  font-weight: 700;
  font-size: 20px;
}


.container_imagem_descricao {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 3rem;
  align-items: stretch;
}

.linha_divisoria_vertical {
  width: 1px;
  background: rgba(255, 255, 255, 0.219);
  min-height: 300px;
}

.descricao_projeto {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.bloco_imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto_descricao {
  font-size: 24px;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
}

.texto_destacado {
  font-weight: 700;
  font-size: 28px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.219);
}



.container_tecnologias {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.container_container_icone_link_github {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container_icone_link_github {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 16px;
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.project_link_github {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;

}
.container_icone_link_github:hover {
  border: 1px solid var(--green);
  transform: scale(1.1);
  background-image: linear-gradient(to bottom, var(--purple-1), var(--purple-2));
  background-attachment: fixed;
}
.container_icone_link_github:hover > .project_link_github {
  color: var(--green);
}

.icone_github {
  margin-left: 0.5rem;
  background-image: var(--green);
  fill: var(--green);
}

@media(max-width: 1500px){
  .container_imagem_descricao{
    flex-direction: column;
  }

  .linha_divisoria_vertical {
    width: 1px;
    background: rgba(255, 255, 255, 0.219);
    min-width: 100%;
    min-height: 1px;
  }
}
@media(max-width: 800px){
  .container_project {
    padding: 1rem 1rem 1rem 1rem;

  }
}
@media(max-width: 620px){
  .titulo_project{
    font-size: 40px;
  }
  .project_link_github{
    font-size: 18px;
  }

  .texto_descricao{
    font-size: 18px;
  }
  .project_imagem_link_container > p {
    font-size: 18px;
  }
}
@media(max-width: 450px){
  .titulo_project{
    font-size: 32px;
  }
  .project_link_github{
    font-size: 16px;
  }

  .texto_descricao{
    font-size: 16px;
  }



  .container_icone_link_github{
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .icone_github{
    width: 1.5rem;
    height: auto;
  }

}